body {
    background-color:white;
}

.home-menu {
    width: 800px;
    margin:0 auto;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;;
    line-height:24px;
}

h1 {
    font-weight: 600;
    font-size:32px;
    padding: 20px 0;
    text-align:center;
}